
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mulish&family=Roboto:ital,wght@0,300;1,400&display=swap');

.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}
.week-cal{
    display: grid;
    place-content: center;
 height: 8vh;
  background: none;
  border: 1px solid gray;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.week-cal  i {
    color: rgba(100, 168, 217, 0.76);
}
.week-cal  h1 {
    color: rgb(95, 94, 94);
    font-size: larger;
   
}
.arrow{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: none;
    border: 1px solid gray;
    padding-left: 20px;
    padding-right: 20px;
   height: 8vh;
}


@media only screen and (max-width:600px){
    .navBar{
        flex-direction: column;
    }
    
}